html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --shadow-blur-px: 18px;
}

body {
    background-color: #040404;
    font-family: 'Fira Sans', sans-serif;
    color: antiquewhite;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
}

@media screen and (min-width: 601px) {
    li {
        font-size: 1.31rem;
    }

    .song-title {
        font-size: 2.62rem;
    }
}

@media screen and (max-width: 600px) {
    li {
        font-size: .44rem;   
    }

    .song-title {
        font-size: 2.12rem
    }
}

ul {
    list-style-type: none;
    margin-left: 4rem;
}

li {
    font-weight: 100;
    letter-spacing: .131em;
    line-height: 1.31;
}

.song-title {
    font-weight: 500;
    display: inline;
    text-align: center;
}

h5 {
    font-weight: 100;
    color: rgb(126, 120, 111);
    font-size: 2.2rem;
    letter-spacing: .09em;
    line-height: .111;
    font-weight: 100;
    text-shadow: 0px 0px var(--shadow-blur-px) rgb(130, 209, 203);
}

#the-kingdom {
    text-shadow: 0px 0px var(--shadow-blur-px) red
}

#the-emperor {
    text-shadow: 0px 0px var(--shadow-blur-px) orange
}

#eleusis {
    text-shadow: 0px 0px var(--shadow-blur-px) yellow
}

#eye-of-giza {
    text-shadow: 0px 0px var(--shadow-blur-px) limegreen
}

#mountain-dweller {
    text-shadow: 0px 0px var(--shadow-blur-px) skyblue
}

#the-hierophant {
    text-shadow: 0px 0px var(--shadow-blur-px) violet
}

#the-star {
    text-shadow: 0px 0px var(--shadow-blur-px) pink
}

#merge {
    text-shadow: 0px 0px var(--shadow-blur-px) antiquewhite
}

#paths-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgb(130, 209, 203);
    margin-top: 44px
    /* height: 200%; */
}

.paths-text {
    text-align: center;
    margin-left: 1.2rem;
}

a, .paths-text:link {
    color: antiquewhite;
    text-decoration: none;
}

.paths-text:visited {
    color: antiquewhite;
}

.paths-text:hover {
    color: antiquewhite;
}

#paths-cover {
    margin-top: 4.34rem;
}

.paths {
    margin-top: 4.44rem;
    margin-left: 1.2rem;
    margin-bottom: 3.33rem;
    font-weight: 100;
    letter-spacing: .22em;
    font-size: 4.2rem;
    text-shadow: 0px 0px 40px rgb(130, 209, 203), 0px 0px 4px rgb(130, 209, 203);
    font-variant-caps: small-caps;
    font-feature-settings: "smcp";
}

.paths-tracks {
    margin-top: 3.33rem;
}

.external-links {
    margin-top: 4.44em;
}


#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: black;
    animation-duration: 444ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}